<!-- About Section 

  <div class="w3-container" style="padding:128px 16px" id="about">
    <i class="fa fa-heartbeat"></i>
<i class="fa fa-heartbeat" style="font-size:24px"></i>
<i class="fa fa-heartbeat" style="font-size:36px;"></i>
<i class="fa fa-heartbeat" style="font-size:48px;color:red"></i>
  <h3 class="w3-center">Health Insurance (COVID-19 Covered)*</h3>
  <p class="w3-center w3-large">Key features of our company</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    
    <p>Health insurance policy is a product that protects you against the financial implications of a wide variety of health-related expenses, ranging from those caused by minor illnesses and injuries to critical diseases. Therefore, health insurance plans and the cumulative Bonus serve as a protective financial shield for you should you be faced with a major medical expense.</p>

     <p> Selecting a suitable medical insurance is difficult yet incredibly important for you to have a sufficient degree of preparedness against any sudden and, in some cases, expected medical expenses. Imagine a scenario wherein you are diagnosed with a serious medical condition that requires consistent treatment, hospitalisation, and/or surgery. Or simply take the example of the spread of COVID-19 in India and imagine the various expenses you may have to look after if diagnosed with a COVID-19 infection</p>
      
      <p>In such a situation, you would not want to let your medical bills dig a massive hole in your savings or be faced with a financial crisis to pay said bills, will you? Hence it is pivotal to buy a suitable health insurance plan, choose the right sum insured, pay the applicable premium and get insured at the earliest, and we can help you with that.</p>
  </div>
</div>-->
