<div class="contact">

    
  <h2 style="text-align:center ; color:darkblue" >Our Team</h2>

  <div class="row">

    <div class="column">

      <div class="card">

        

        <div class="container">

          <h2>Kusuma</h2>


          <p>Analyst @Capgemini</p>


          <p>kusuma@gmail.com@gmail.com</p>

          <p><button class="button">Contact</button></p>

        </div>

      </div>

    </div>

 

    <div class="column">

      <div class="card">

       

        <div class="container">

          <h2>Pranitha</h2>

          <p>Analyst @Capgemini</p>


          <p>pranita@gmail.com</p>

          <p><button class="button">Contact</button></p>

        </div>

      </div>

    </div>

   

    <div class="column">

      <div class="card">

       

        <div class="container">

          <h2>Srushti</h2>

          <p>Analyst @Capgemini</p>


          <p>srusthi@gmail.com</p>

          <p><button class="button">Contact</button></p>

        </div>

      </div>

    </div>

    <div class="column">

      <div class="card">

        <div class="container">

          <h2>Pavitra</h2>

          <p>Analyst @Capgemini</p>


          <p>pavitra@gmail.com</p>
          <p><button class="button">Contact</button></p>

        </div>

   

    </div>

    <div class="column">

      <div class="card">

       

        <div class="container">

          <h2>Sravni</h2>

          <p>Analyst @Capgemini</p>


          <p>sravni@gmail.com</p>

          <p><button class="button">Contact</button></p>

        </div>

      </div>

    </div>
    <div class="column">

        <div class="card">
  
         
  
          <div class="container">
  
            <h2>Poojitha</h2>
  
            <p>Analyst @Capgemini</p>
  
  
            <p>poojitha@gmail.com</p>
  
            <p><button class="button">Contact</button></p>
  
          </div>
  
        </div>
  
      </div>
      <div class="column">

        <div class="card">
  
         
  
          <div class="container">
  
            <h2>Beaulah</h2>
  
            <p>Analyst @Capgemini</p>
  
  
            <p>beaulah@gmail.com</p>
  
            <p><button class="button">Contact</button></p>
  
          </div>
  
        </div>
  
      </div>

  </div>