<body>

    
    
    <div class="navbar">
        <a routerLink="/home" class="active" onclick="myFunction()">Home</a>
      
        <a href="policies" onclick="myFunction()">Policies</a>
      
        <a href="user" onclick="myFunction()">User List</a>

        <a href="admin" onclick="myFunction()">Admin</a>

        <a href="pay" onclick="myFunction()">Payments</a>
        <a href="upd" onclick="myFunction()">UserPolicyDetails</a>
        
    </div>
    
    </body>
    <router-outlet></router-outlet>