<!DOCTYPE html>
<html>
<head>
<title>Online Term Insurance</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <br><br><br><br>
    <br><br><br>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <h1><b>Online Term Insurance</b></h1>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
        <a routerLink="/home" class="home" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Home</a>
      
        <a href="#abb" class="about"class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">About-Us</a>
      
        <a href="contact" class="contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact-Us</a>
      
        <a routerLink="/login" class="login" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Login</a>
        <a routerLink="/reg" class="reg" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Register</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<body>
  <h1><b>"Your Life Your Decision,</b></h1>
  <h1><b>Our Insurance Your Protection."</b></h1>
<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  
  

</div>

    


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>Welcome to <span>Insurance</span></h1>
    
    <div class="d-flex">
      <a href="/reg" class="btn-get-started scrollto">Get Started</a>
      
      
    </div>
  </div>
</section><!-- End Hero -->


  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Home Insurance </a></h4>
            <p class="description"> A home insurance policy essentially covers man-made and natural circumstances that may result in damage or loss.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Health Insurance</a></h4>
            <p class="description">Health insurance is a vital tool for risk mitigation and helps you deal with medical emergencies. A health insurance plan covers hospitalization expenses up to the sum insured</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Motor Insurance</a></h4>
            <p class="description">Motor insurance provides coverage for your vehicle against damage, accidents, vandalism, theft, etc. It comes in two forms, third-party and comprehensive.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Travel Insurance</a></h4>
            <p class="description">When you are travel internationally and suffer losses because of loss of baggage, trip cancellation, or delay in flight, a travel insurance policy safeguards you. You may also be offered cashless hospitalization if you are hospitalized while travelling.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Featured Services Section -->
   <!-- ======= About Section ======= -->
   <section  class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title" id="abb">
        <h2>About</h2>
        <h3>Find Out More <span>About Us</span></h3>
        <p>Insurance is a financial safety net, helping you and your loved ones recover after something bad happens — such as a fire, theft, lawsuit or car accident.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="https://images.unsplash.com/photo-1633158829585-23ba8f7c8caf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3>Insurance is a way to manage your risk. When you buy insurance, you purchase protection against unexpected financial losses. The insurance company pays you or someone you choose if something bad happens to you. If you have no insurance and an accident happens, you may be responsible for all related costs.</h3>
          <p class="fst-italic">
            Insurance plans are beneficial to anyone looking to protect their family, assets/property and themselves from financial risk/losses: Insurance plans will help you pay for medical emergencies, hospitalisation, contraction of any illnesses and treatment, and medical care required in the future.
          </p>
          <ul>
            
            
          </ul>
          
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
  
    
    
<!-- Sidebar on small screens when clicking the menu icon -->
<!-- <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">About-Us</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">Contact-Us</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">Login</a>
  
</nav> -->

<!-- Header with full-height image -->
<!-- <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  
  <h1>hi</h1>
</header> -->


</body>
<!-- The Contact Section -->
<div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
  <h2 class="w3-wide w3-center">CONTACT</h2>
  
  <div class="w3-row w3-padding-32">
    <div class="w3-col m6 w3-large w3-margin-bottom">
      <i class="fa fa-map-marker" style="width:30px"></i>Whitefield , Karnataka<br>
      <i class="fa fa-phone" style="width:30px"></i> Phone: +91 7414977895<br>
      <i class="fa fa-envelope" style="width:30px"> </i> Email: srusthijadhav@mail.com<br>
    </div>
    <div class="w3-col m6">
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
        <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
      </form>
    </div>
  </div>
</div>


<!-- Footer -->
<!-- <footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
 
    <div className="box-container">



        <div className="box">

            <h3>contact info</h3>

            <a href="#">+91-2345678902</a><br>

            <a href="#">+222-666-2345</a><br>

            <a href="#">srusthijadhav@gmail.com</a><br>

            <a href="#">pranita@gmail.com</a><br>

            <a href="#">bangalore, india - 560066</a>

        </div>

        <br>

        <br>

        <div className="box1">



            <a href="#"><i className="fab fa-facebook-f"></i></a>

            <a href="#"><i className="fab fa-twitter"></i></a>

            <a href="#"><i className="fab fa-instagram"></i></a>

            <a href="#"><i className="fab fa-linkedin"></i></a>

        </div>



    </div>



    <div className="credit"> copyright @ 2023 by <span>Group 5</span> </div>

  
</footer>
  -->


<section class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
 
    <div className="box-container">



        <div className="box">

            <h3>contact info</h3>

            <a href="#">+91-7414977895</a><br>

            <a href="#">+222-666-2345</a><br>

            <a href="#">srusthijadhav@gmail.com</a><br>

            <a href="#">pranita@gmail.com</a><br>

            <a href="#">bangalore, india - 560066</a>

        </div>

        <br>

        <br>

        <div className="box1">



            <a href="#"><i className="fab fa-facebook-f"></i></a>

            <a href="#"><i className="fab fa-twitter"></i></a>

            <a href="#"><i className="fab fa-instagram"></i></a>

            <a href="#"><i className="fab fa-linkedin"></i></a>

        </div>



    </div>



    <div className="credit"> copyright @ 2023 by <span>Group 5</span> </div>

  
  </section>
 


<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>


</html>

